<h1> This is the contact page.</h1>

<form>
  <div class="form-group">
    <label for="guestName">Name</label>
    {{input type="text" value=guestName class="form-control" placeholder="John Jacob Jingleheimerschmidt"}}
  </div>
  <div class="form-group">
    <label for="guestEmail">Email address</label>
    {{input type="email" value=guestEmail class="form-control" placeholder="Please type your e-mail address."}}
  </div>
  <div class="form-group">
    <label for="guestMessage">Message</label>
    <p>Tell me what you think.</p>
    {{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=guestMessage}}
  </div>
  <button type="submit" class="btn btn-default" {{action 'saveInvitation'}} disabled={{isDisabled}}>Submit</button>
</form>
